/* .create-login {
    top: 15%;
    width: 336px;
    height: 54px;
}

.create-login .typography {
    position: relative;
    height: 19px;
    width: 166px;
        
    top: 30%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

}

.create-login .create-login-button {
    height: 54px;
    width: 140px;
    
    left: 15%;
    top: 5%;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(88, 133, 196, 0.15);
    
}

.form-landing input {
    width: 380px;
}

.title {
    text-align: center;
} */

/* *************************

/* 
.form-landing {
    position: absolute;
    width: 380px;
    height: 424px;
    left: 522px;
    top: 170px;
}

.form-landing .title {
    height: 40px;
    left: 0%;
    right: 37.89%;
    top: calc(50% - 40px/2 - 192px);

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 40px;
    
    color: #000000;
}




.form-landing .username {
    height: 65px;
    left: 0%;
    right: 0%;
    top: 12.26%;
    bottom: 72.17%;
}



.form-landing .email {
    height: 65px;
    left: 0%;
    right: 0%;
    top: 37.26%;
    bottom: 47.41%;

}

.form-landing .password {
    height: 65px;

    left: 0%;
    right: 0%;
    top: 62.03%;
    bottom: 22.64%; 
}

.form-landing button {
    position: relative;
 
    top: 86.79%;
    bottom: 0%;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  
    border-radius: 3px;
    color: white;
} 

*/