.welcomeSide-Image {
    position: absolute;
    width: 425px;
    height: 700px;
 
    
    background: linear-gradient(180deg, #3A8DFF 0%, #86B9FF 100%);
    mix-blend-mode: normal;
    opacity: 0.85;
}